/* анимация дороги */
.road {
  width: 1600px;
  height: 1200px;
  /* background-image: url("../images/road.png"); */
  margin: 50px 0;
  animation: road 6s infinite steps(1);
}
@keyframes road {
  0% {
    background-position: 0 0;
  }
  11% {
    background-position: 1600px 1200px;
  }
}
