* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  font-family: "AdventureIndianaJones";
  background-color: black;
}
.block-1 {
  width: 1220px;
  height: 457px;
}
.text-1 {
  width: 1220px;
  height: 457px;
  font-size: 230px;
  margin: 20px 0;
  color: black;
  position: absolute;
  top: -250px;
  left: 10px;
}
